@import 'styles/material/indigo-pink.css';

html, body, material-app, md-sidenav-container, .my-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

main.primary-content {
  padding: 0 16px;
}

.page-title md-icon {
    margin: 0 8px;
}

md-sidenav-layout /deep/ .md-sidenav-content {
  overflow: hidden;
}

md-sidenav-container {
  height: calc(100% - 64px);
  overflow: auto;
}

@media (max-width: 600px) {
  md-sidenav-container {
    height: calc(100% - 56px);
  }
}